extends ../layout 

block content
  h1 Your Groups
  a(href='/group/create') Create Group

  h2 Groups
  hr
  each val in data
    p
    a(href='/group/#{val.id}')
      button#group-info-submit.btn.btn-default
        .group-name #{val.name} Title
        .group-description #{val.description}
    form(method='post', action='/group/#{val.id}/delete')
                    button(type='submit').btn.btn-default Delete
    a(href='/group/#{val.id}/edit') 
      button.update-group Edit Group