extends ../layout 

block content
  h1 #{group.name}
  hr
  p
    .summary
      .group-description #{group.description}
      .group-startdate #{group.start_date} Start Date
      .group-description #{group.end_date} End Date
  p
    form(method='post', action='/exercise/#{group.id}/create')
      .form-group
        input.form-control(type='date', name="date", placeholder='Enter date')
      button(type='submit').btn.btn-default Log Exercise
  hr
  p
    ul Users
      each user in group.users
        li
          a(href='/group/#{group.id}/user/#{user.id}')
            span #{user.email} 
          span #{user._pivot_role}  
          span Exercises: #{user.exercises.length}
  hr
  if role === 'admin' 
    p
      h4 Invite your friends
      form(role='form', method='post', action='/group/#{group.id}/invite') 
        .form-group
          input.form-control(type='text', name='email', placeholder='Enter user email',style='max-width: 500px;')  
        .form-group
          select.form-control(type='text', name='role',style='max-width: 500px;')
            option member
            option admin
        button(type='submit').btn.btn-default#group-invite-submit Submit
    hr 
    p
      form(method='post', action='/group/#{group.id}/delete')
        button(type='submit').btn.btn-default Delete Group
      a(href='/group/#{group.id}/edit') 
        button.update-group Edit Group    
  p
    a(href='/groups')
      button.update-button Return to My Groups
