extends ../layout 

block content
  h1 Group
  hr
  p
    .summary
      .group-name #{data.name} Title
      .group-description #{data.description}
      .group-startdate #{data.start_date} Start Date
      .group-description #{data.end_date} End Date
  p
    form(method='post', action='/exercise/#{data.id}/create/2015-10-26')
        button(type='submit').btn.btn-default Monday
    form(method='post', action='/exercise/#{data.id}/create/2015-10-27')
        button(type='submit').btn.btn-default Tuesday
    form(method='post', action='/exercise/#{data.id}/create/2015-10-28')
        button(type='submit').btn.btn-default Wednesday
    form(method='post', action='/exercise/#{data.id}/create/2015-10-29')
        button(type='submit').btn.btn-default Thursday
    form(method='post', action='/exercise/#{data.id}/create/2015-10-30')
        button(type='submit').btn.btn-default Friday
  p
    ul Users
      each val in data.users
        li
          a(href='/group/#{data.id}/user/#{val.id}')
            span #{val.initials}
          form(method='post', action='/membership/#{data.id}/#{val.id}/delete')
            button(type='submit').btn.btn-default X
  p
    a(href='/groups')
      button.update-button Return to Groups List
  p
    p invite your friends
    form(role='form', method='post', action='/group/#{data.id}/invite') 
      .form-group
        input.form-control(type='text', name='user_id', placeholder='Enter user ID')  
      .form-group
        input.form-control(type='text', name='membership', placeholder='Enter their role')  
      button(type='submit').btn.btn-default#group-invite-submit Submit
