extends ../layout 

block content
  h1 Group
  hr
  p
  .summary
    .group-name #{data.name} Title
    .group-description #{data.description}
    .group-startdate #{data.start_date} Start Date
    .group-description #{data.end_date} End Date
    .group-dpw #{data.days_per_week} Days Per Week
    .group-el #{data.exercise_length} Exercise Length:
  p
  a(href='/groups')
    button.update-button Return to Groups List