extends ../layout 

block content
    h1 #{param_user.full_name}
    ul Exercises
        each val in param_user.exercises
            li
                span #{val.date} 
                if param_user.id === req_user_id
                    form(method='post', action='/exercise/#{group_id}/delete/#{val.id}')
                        button(type='submit').btn.btn-default Delete

    p
      a(href='/group/#{group_id}')
        button.update-button Return to Group